/* Welcome to my test file */

body {
    background-color: blue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    color: lightblue;
    font-family: verdana;
    font-size: 20px;
  }